#g-export-control {
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
	margin: 5px 9px 0 0;
}

@media (max-width: 930px) {
	div #g-simplify-control-wrapper {
		top: 24px;
		margin-left: 12px;
		left: 0px;
		width: auto;
	}

	.g-page-header {
		height: 48px;
	}

	#mshp-main-map {
		margin-top: 48px;
	}

	div #g-simplify-control {
		padding-right: 0;
	}
}


#g-simplify-control-wrapper {
	position: absolute;
	width: 100%;
	margin: 5px auto 0 auto;
	top: 0px;
}

#g-simplify-control {
	text-align: center;
	display: none;
	padding-right: 140px;
}

.g-page-header .g-label {
	color: #fff;
	margin: 0 4px 0 0;
}


#g-simplify-control .g-slider {
	padding: 9px 5px 0px 5px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

#g-simplify-control .g-track {   	
	-webkit-border-radius: 2px;
  	-moz-border-radius: 2px;
	width: 400px;
	background-color: #fff;
	height: 2px;
}

#g-simplify-control .g-handle {
	position: absolute;
	top: 9px;
}

#g-simplify-control .g-handle img {
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
}

#g-simplify-control .g-clicktext {
	width: 56px;	
	background: rgba(255, 255, 255, 0.4);	
	text-align: center;
	border: 1px solid rgba(0,0,0,0);
	font-size: 13px;
}


#g-simplify-control .g-clicktext:focus {
	background: #fff;
}