
/* Hide Firefox's indicator when images are loading */
img:-moz-loading {
    visibility: hidden;
}

/* ------ UTILITY ---------- */

.hidden {
	display: none;
}

div.tip {
	color: #555;
	font-weight: normal;
	text-align: left;
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 1.45;
	background: #fff;
	border: 1px solid #a2a2a2;
	border-radius: 6px;
	padding: 8px 11px 9px 11px;
	bottom: 0px;
	left: -50%;
	margin-right: 9px;
	white-space: pre;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

/* tail */
.tip:after, .tip:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/* tail fg */
.tip:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

/* tail bg */
.tip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #999;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}


.tip-button {
	float: right;
	margin-top: 2px;
	display:inline-block;
	position: relative;
	z-index: 500;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	line-height: 1;
	font-weight: normal;
	color: #799FCB;
}

.tip-button .tip-anchor {
	bottom: 24px;
	left: 8px;
}

.tip-anchor {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

.tip-button:hover {
	font-weight: normal;
	color: #033D6D;
}

.tip-button:hover * {
	visibility: visible;
}

.clicktext {
	display:inline-block;
	line-height: 1;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	text-decoration:none;
	text-indent: 0px;
}

.file-control {
	position: absolute;
	top: -1000px;
}

/* -------- BUTTONS ---------- */

.header-btn {
	color: #fff;
	border: none;
	padding: 3px 7px 4px 7px;
	border-radius: 3px;
	margin-top: 5px;
}

.page-header .header-btn.disabled,
.page-header .header-btn.disabled:hover {
	background-color: transparent;
}

.page-header .header-btn.active {
	background-color: black;
}

.btn.active {
	cursor: pointer;
}

.btn.selected,
.btn.selected:hover {
	color: #aaa;
	background: none;
}

.btn.inline-btn:hover:not(.selected) {
	background-color: #FFFCDC;
	color: black;
}

.btn {
	text-align: center;
	padding: 4px 7px 5px 7px;
	border-radius: 4px;
	line-height: 1;
	display: inline-block;
	cursor: pointer;
}

.btn.disabled {
	cursor: default;
}


.dialog-btn {
	display: inline-block;
	margin-bottom: 4px;
	margin-top: 1px;
	font-size: 13px;
	color: white;
	min-width: 28px;
}

.inline-btn {
	margin: 0;
	border: 1px solid #aaa;
	padding: 1px 4px 3px 3px;
}

.text-btn {
	cursor: pointer;
}

.text-btn.disabled {
	cursor: auto;
	color: #999;
}


