
/* Hide Firefox's indicator when images are loading */
img:-moz-loading {
    visibility: hidden;
}

/* ------ UTILITY ---------- */

.hidden {
	display: none;
}


.g-menu-link {
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding: 0 3px 1px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.g-menu-link.inactive {
	border: none;
	color: #aaa;
}

.g-menu-link:hover:not(.inactive) {
	border: 1px solid white;
	cursor: pointer;
}

div .g-experimental {
	color: #F24400;
}

div.g-tip {
	color: #555;
	font-weight: normal;
	text-align: left;
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 1.45;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 6px;
	padding: 8px 11px 9px 11px;
	bottom: 0px;
	left: -50%;
	margin-right: 9px;
	white-space: pre;
	box-shadow: 0 0px 9px rgba(0, 0, 0, 0.2);
}

/* tail */
.g-tip:after, .g-tip:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

/* tail fg */
.g-tip:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

/* tail bg */
.g-tip:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #999;
	border-width: 9px;
	left: 50%;
	margin-left: -9px;
}


.g-tip-button {
	float: right;
	margin-top: 2px;
	display:inline-block;
	position: relative;
	z-index: 500;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	line-height: 1;
	font-weight: normal;
	color: #799FCB;
}

.g-tip-button .g-tip-anchor {
	bottom: 24px;
	left: 8px;
}

.g-tip-anchor {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}

.g-tip-button:hover {
	font-weight: bold;
	color: #033D6D;
}

.g-tip-button:hover * {
	visibility: visible;
}

.g-clicktext {
	display:inline-block;
	line-height: 1;
	cursor: pointer;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	text-decoration:none;
	text-indent: 0px;
}

.g-file-control {
	position: absolute;
	top: -1000px;
}

/* -------- BUTTONS ---------- */

.mode-btn {
	margin-right: 0;
	color: #fff;
	border: none;
	padding: 3px 7px 4px 7px;
	border-radius: 3px;
}

.mode-btn:hover:not(.disabled):not(.active) {
	background-color: #517293;
}

.mode-btn.active {
	background-color: black;
}

.g-btn.active {
	cursor: pointer;
}

.g-btn.selected {
	color: #aaa;
	background: none;
}

.g-btn.inline-btn:hover:not(.selected) {
	background-color: #FFFCDC;
}

.g-btn {
	text-align: center;
	padding: 4px 6px 5px 6px;
	border-radius: 4px;
	line-height: 1;
	display: inline-block;
	cursor: pointer;
}

.g-btn.disabled {
	cursor: default;
}

.g-btn.dialog-btn:hover:not(.selected) {
	background-color: #35517c;
}

.g-btn.dialog-btn {
	display: inline-block;
	margin-bottom: 3px;
	margin-top: 2px;
	font-size: 13px;
	color: white;
	min-width: 48px;
	background-color: #5d85b5;

}

.g-btn.inline-btn {
	background-color: white;
	text: black;
	margin: 0;
	border: 1px solid #b0b0b0;
	padding: 1px 4px 3px 3px;
}

.g-text-btn {
	color: #1477C1;
	cursor: pointer;
}

.g-text-btn.disabled {
	cursor: auto;
	color: #999;
}


