/*
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(SourceSansPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(SourceSansPro-Semibold.woff) format('woff');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #fff;
	font: 14px/1.4 'Source Sans Pro', Helvetica, sans-serif;
	color: #444;
}


/* --- Page header --------------- */

.g-page-header {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 32px;
	background-color:#6E90BA;
	background: -webkit-linear-gradient(top, #6E90BA, #85B3DD);
	background: linear-gradient(to bottom, #6E90BA, #85B3DD);
}

#mshp-version {
	z-index: 100;
	position: absolute;
	pointer-events: none;
	bottom: 8px;
	left: 11px;
	font-size: 11px;
	color: steelblue;
}

.g-mapshaper-logo {
	font-weight: bold;
	font-size: 18px;
	margin: 2px 0 0 12px;
}

.g-mapshaper-logo .g-logo-highlight {
	color: #ffa;
}

.g-page-header a {
	text-decoration: none;
}

#mode-buttons {
	z-index: 20;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
	margin: 0 9px 3px 0;
}

.separator {
	border-left: 1px solid white;
	height: 10px;
	margin: 0 2px 0 2px;
}

#g-export-buttons {
	display: none;
}


/* --- Main area ------------- */

.main-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 32px 0 0 0;	
}


/* --- Error message ---------- */

.error-wrapper {
	z-index: 120;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div.error-box {
	margin-top: 55px;
	/* padding: 8px 12px 10px 12px; */
	max-width: 400px;
	font-size: 16px;
}

div.error-box > div {

}



/* --- Import screen -------------- */

#fork-me {
	background-image: url("images/fork-me-right-cerulean.png");
    background-size: 149px 149px;
	position: absolute;
	z-index: 110;
	top: 0;
	right: 0;
	border: 0;
	width: 149px;
	height: 149px;
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
	#fork-me {
		background-image: url("images/fork-me-right-cerulean@2x.png");
	}
}

div.g-option-menu .advanced-options {
	width: 210px;
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid #999;
	padding: 0 3px;
	height: 17px;
	font-size: 12px;
}

#mshp-not-supported {
	display: none;
	z-index: 100;
	text-align: center;
}


#dropped-file-list {
	display: none;
	padding-bottom: 3px;
}


#dropped-file-list p {
	line-height: 1;
	margin-bottom: 5px;
}


.popup-dialog {
	display: none;
	z-index: 80;	
	text-align: center;
	/* background-color: rgba(255, 255, 255, 0.8); 
	background-color: rgba(255, 255, 255, 0.35);*/
}

.info-box {
	text-align: left;
	margin-top: 17px;
	background-color: #fff;
	padding: 10px 14px 8px 14px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 9px;
}

.info-box h3 {
	padding: 0;
	margin: 0 0 3px 0;
}

.info-box h4 {
	margin: 0 0 2px 0;
}

.info-box p {
	white-space: pre-line;
	margin: 0 0 0.45em 0;
}

.g-option-menu {
	margin: 0 0 6px 0;
}

.g-option-menu input {
	width: 12px;
	height: 12px;
}

.g-option-menu .g-tip-button {
	margin-left: 12px;
	margin-top: 3px;
}

.g-option-menu input.g-checkbox {
	margin: 3px 5px 0 0;
}

.g-option-menu input.g-radio {
	margin: 0 5px 0 0;
}

/* --- Progress bar --------------- */

.progress-message {
	position: absolute;
	width: 100%;
	z-index: 90;
	text-align: center;
	top: 52px;
	font-size: 16px;
}

.progress-message > div {
	display: inline-block;
	text-transform: uppercase;
	padding: 3px 6px;
	font-size: 15px;
	color: black;
	background-color: rgba(255, 255, 222, 0.85);
	border: 1px solid #333;
}

/* === Editing interface ========== */

#mshp-main-page {
	position: relative;
	height: 100%;
	width: 100%;
}


/* --- Console control ------------ */

#console {
	z-index: 50;
	pointer-events: none;
	/* background-color: rgba(0,0,0,0.8); */
	display: none;
}

#console-window {
	pointer-events: auto;
	background-color: rgba(0,0,0,1);
	position: absolute;
	width: 100%;
	text-align: center;
	overflow: auto;
	max-height: 80%;
}

#console-buffer {
	width: 100%;
	position: relative;
	color: white;
}

#console-buffer * {
	font: 13px/1 monospace;
}

#console-buffer > div {
	white-space: pre;
	text-align: left;
	width: 520px;
	margin: 0 auto;
}

.console-error {
	color: #f93b00;
}

.console-message {
	color: #eddd98;
}

.console-example {
	color: #b9dffc;
}

#console-log {
	padding-top: 6px;
}

#console-log > div {
	padding-top: 1px;
	line-height: 15px;
}

#command-line {
	/* border-bottom: 1px solid #ccc; */
	padding-bottom: 10px;
}

#command-line > * {
	display: inline-block;
	vertical-align: middle;
}

#command-line > input {
	height: 16px;
	color: white;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	width: 500px;
}

/* --- Layer menu ----------- */

#layer-control {
	top: 0;
	position: absolute;
	text-align: center;
	z-index: 10;
	width: 100%;
}

body.simplify #layer-control {
	display: none;
}

#layer-menu .info-box {
	overflow: hidden;
	max-height: 90%;
	margin-top: 6px;
	overflow-y: auto;
}

#layer-menu .layer-list {
	margin: 6px 0 6px 0;
}

#layer-menu .layer-item {
	margin-left: -14px;	
	padding: 8px 14px;
	cursor: pointer;
	width: 100%;
}

.layer-item .row {
	line-height: 18px;
	margin-bottom: 1px;
}

.layer-item .layer-name {
	display: inline-block;
	min-height: 14px; /* For FF when content is empty */
	padding-right: 2px;
	min-width: 2px;
	border-bottom: 1px dotted #264372;
	color: #264372;
	outline: none;
}


.layer-item .layer-name::selection {
	background: black;
	color: white;
	text-decoration: none;
}

.layer-item.active {
	background-color: #e6f7ff;
}

.layer-item:hover:not(.active) {
	background-color: #e6f7ff;
}

.layer-item .row {
	white-space: nowrap;
}

.layer-item .row > div {
	display: inline-block;
}

.layer-item .col1 {
	width: 85px;
}

/* --- Intersection control ----------*/

#g-intersection-display {
	cursor: default;
	visibility: visible;
	display: none;
	position: absolute;
	z-index: 20;
	top: 7px;
	right: 14px;
	text-align: right;
}

#g-intersection-display .g-text-btn.disabled {
	visibility: hidden;
}

/* --- Map ---------------------- */

#mshp-main-map {
	background-color: #fff;
}

#mshp-main-map canvas {
	pointer-events: none;
}

#nav-buttons {
	display: none;
	z-index: 20;
	position: absolute;
	top: 6px;
	left: 6px;
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.7);
}

.nav-btn {
	cursor:pointer;
	padding: 4px;
	opacity: 0.7;
}

.nav-btn:hover {
	opacity: 1 !important;
}

.zoom-box {
	position: absolute;
	border: 2px solid #c33;
	z-index: 10;
}


/* Simplification control ------------ */

@media (max-width: 765px) {
	body.simplify  #g-simplify-control-wrapper {
		top: 22px;
	}

	body.simplify .g-page-header {
		height: 52px;
	}

	body.simplify .main-area {
		margin-top: 52px;
	}
}

#g-simplify-control-wrapper {
	display: none;
	position: absolute;
	width: 100%;
	overflow: hidden;
	margin: 7px auto 0 auto;
	top: 0px;
}

#g-simplify-control {
	text-align: center;
	white-space: nowrap;
	padding: 0 90px 0 12px;
}

#g-simplify-control .g-slider {
	margin: 9px 5px 0 7px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

#g-simplify-control .g-track {   	
  	border-radius: 2px;
	width: 340px;
	background-color: #fff;
	height: 2px;
}

#g-simplify-control .g-handle {
	position: absolute;
	top: -3px;
}

#g-simplify-control .g-handle img {
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
}

#g-simplify-control .g-clicktext {
	width: 56px;
	background: rgba(255, 255, 255, 0.4);
	text-align: center;
	border: 1px solid rgba(0,0,0,0);
	font-size: 13px;
}

#g-simplify-control .g-clicktext:focus {
	background: #fff;
}
