/*
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
*/

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(SourceSansPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(SourceSansPro-Semibold.woff) format('woff');
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #fff;
	font: 14px/1.4 'Source Sans Pro', Helvetica, sans-serif;
	color: #444;
}


/* --- Color themes -------------- */

.colored-text {
	color: #1e6e87;
}

.dot-underline {
	border-bottom: 1px dotted #1e6e87;
}

/* disabling themes (need to update button col, etc)
/*
.theme1 .dot-underline {
	border-bottom: 1px dotted #264372;
}

.theme1 .colored-text {
	color: #264372;
}

.theme1 .page-header {
	background-color: #6E90BA;
	background: linear-gradient(to bottom, #6E90BA, #85B3DD);
}

.theme1 .nav-btn:hover polygon {
	fill: #35517c;
}

.theme1 #fork-me {
	background-image: url("images/fork-me-right-cerulean@2x.png");
}

.theme1 .dialog-btn {
	background-color: #5d85b5;
}

.theme1 .dialog-btn:hover {
	background-color: #35517c;
}

.theme1 .mode-btn:hover {
	background-color: #517293;
}


.theme2 .page-header,
.theme2 .dialog-btn {
	background-color: #915050;
}

.theme2 .mode-btn:hover,
.theme2 .dialog-btn:hover  {
	background-color: #843030;
}

.theme2 .colored-text {
	color: #915050;
}


.theme2 .nav-btn polygon {
	fill: #915050;
}

.theme3 .page-header,
.theme3 .dialog-btn {
	background-color: #968160;
}

.theme3 .mode-btn:hover,
.theme3 .dialog-btn:hover  {
	background-color: #7c674c;
}

.theme3 .colored-text {
	color: #968160;
}

.theme3 .nav-btn polygon {
	fill: #968160;
}
*/

/* --- Page header --------------- */

.page-header {
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	z-index: 40;
	width: 100%;
	height: 32px;
	background-color: #18799b;
}

#mshp-version {
	z-index: 1;
	position: absolute;
	pointer-events: none;
	bottom: 8px;
	left: 11px;
	font-size: 11px;
}

.mapshaper-logo {
	font-weight: bold;
	font-size: 18px;
	margin: 2px 0 0 12px;
}

.mapshaper-logo .logo-highlight {
	color: #ffa;
}

.page-header a {
	text-decoration: none;
}

#mode-buttons {
	z-index: 20;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
	margin: 0 9px 3px 0;
}

.separator {
	border-left: 1px solid white;
	height: 10px;
	margin: 0 2px 0 2px;
}

#export-buttons {
	display: none;
}


/* --- Main area ------------- */

.main-area {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 32px 0 0 0;	
}


/* --- Error message ---------- */

.error-wrapper {
	z-index: 120;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

div.error-box {
	margin-top: 55px;
	/* padding: 8px 12px 10px 12px; */
	max-width: 400px;
	font-size: 16px;
}

div.error-box > div {

}



/* --- Import screen -------------- */

#fork-me {
	background-image: url("images/fork-me-right-graphite@2x.png");
    background-size: 149px 149px;
	position: absolute;
	z-index: 110;
	top: 0;
	right: 0;
	border: 0;
	width: 149px;
	height: 149px;
}

div.option-menu .advanced-options {
	width: 210px;
	background: rgba(255, 255, 255, 0.4);
	border: 1px solid #999;
	padding: 0 3px;
	height: 17px;
	font-size: 12px;
}

#mshp-not-supported {
	display: none;
	z-index: 100;
	text-align: center;
}


#dropped-file-list {
	display: none;
	padding-bottom: 3px;
}


#dropped-file-list p {
	line-height: 1;
	margin-bottom: 5px;
}


.popup-dialog {
	display: none;
	z-index: 80;	
	text-align: center;
}

.info-box {
	text-align: left;
	margin-top: 12px;
	background-color: #fff;
	padding: 10px 14px 8px 14px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid #999;
	border-radius: 9px;
}

.info-box h3 {
	padding: 0;
	margin: 0 0 3px 0;
}

.info-box h4 {
	margin: 0 0 2px 0;
}

.info-box p {
	white-space: pre-line;
	margin: 0 0 0.45em 0;
}

.option-menu {
	margin: 0 0 6px 0;
}

.option-menu input {
	width: 12px;
	height: 12px;
}

.option-menu .tip-button {
	margin-left: 12px;
	margin-top: 3px;
}

.option-menu input.checkbox {
	margin: 3px 5px 0 0;
}

.option-menu input.radio {
	margin: 0 5px 0 0;
}

/* --- Progress bar --------------- */

#progress-message {
	position: absolute;
	width: 100%;
	z-index: 90;
	text-align: center;
	top: 52px;
}

#progress-message > div {
	display: inline-block;
	text-transform: uppercase;
	padding: 3px 6px;
	font-size: 15px;
	color: black;
	background-color: rgba(255, 255, 222, 0.85);
	border: 1px solid #333;
}

/* === Editing interface ========== */

#mshp-main-page {
	position: relative;
	height: 100%;
	width: 100%;
}


/* --- Console control ------------ */

#console {
	z-index: 50;
	pointer-events: none;
	/* background-color: rgba(0,0,0,0.8); */
	display: none;
}

#console-window {
	pointer-events: auto;
	background-color: rgba(0,0,0,1);
	position: absolute;
	width: 100%;
	text-align: center;
	overflow: auto;
	max-height: 80%;
}

#console-buffer {
	width: 100%;
	position: relative;
	color: white;
}

#console-buffer * {
	font: 13px/1 monospace;
}

#console-buffer > div {
	white-space: pre;
	text-align: left;
	width: 620px;
	margin: 0 auto;
}

.console-error {
	color: #f93b00;
}

.console-message {
	color: #eddd98;
}

.console-example {
	color: #b9dffc;
}

#console-log {
	padding-top: 6px;
}

#console-log > div {
	padding-top: 1px;
	line-height: 15px;
	word-wrap: break-word;
}

#command-line {
	/* border-bottom: 1px solid #ccc; */
	padding-bottom: 10px;
}

#command-line > * {
	display: inline-block;
	vertical-align: middle;
}

#command-line > input {
	height: 16px;
	color: white;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	width: 500px;
}

/* --- Layer menu ----------- */

#layer-control-btn {
	top: 0;
	position: absolute;
	text-align: center;
	z-index: 10;
	width: 100%;
}

body.simplify #layer-control-btn {
	display: none;
}

#layer-control .info-box {
	overflow: hidden;
	max-height: 90%;
	overflow-y: auto;
}

#layer-menu .layer-list {
	margin: 6px 0 6px 0;
}

#layer-menu .layer-item {
	position: relative;
	margin-left: -14px;
	margin-right: 9px;
	padding: 8px 14px;
	cursor: pointer;
	width: 100%;
}

.layer-item img {
	position: absolute;
	top: 8px;
	opacity: 0.35;
	right: 8px;
	width: 16px;
	height: 16px;
	padding: 2px;
}

.layer-item img:hover {
	opacity: 1;
}

.layer-item .row {
	line-height: 18px;
	margin-bottom: 1px;
	white-space: nowrap;
}

.layer-item .layer-name {
	display: inline-block;
	min-height: 14px; /* For FF when content is empty */
	min-width: 2px;
	outline: none;
}

.layer-item .layer-name.editing {
	border-bottom: 1px solid transparent;
}

.layer-item .layer-name::selection {
	background: black;
	color: white;
	text-decoration: none;
}

.layer-item.active {
	background-color: #e6f7ff;
}

.layer-item:hover:not(.active) {
	background-color: #f7f7f7;
}


.layer-item .row > div {
	display: inline-block;
}

.layer-item .col1 {
	width: 84px;
}

.layer-item .col2 {
	/*position: relative;
	left: 12px;
	*/
}

/* --- Intersection control ----------*/

#intersection-display {
	cursor: default;
	visibility: visible;
	display: none;
	position: absolute;
	z-index: 20;
	top: 9px;
	right: 14px;
	text-align: right;
}

#intersection-display .text-btn.disabled {
	visibility: hidden;
}

/* --- Popup -------------------- */

.popup {
	box-sizing: border-box;
	position: absolute;
	z-index: 30;
	top: 12px;
	right: 12px;
	background-color: white;
	border: 1px solid #999;
	border-radius: 9px;
	padding: 5px 0;
}


.popup-content {
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	padding: 4px 12px;
	line-height: 1.2;
	font-size: 13px;
}

.popup td {
	vertical-align: top;
	/*font-weight: bold;*/
	min-width: 80px;
	max-width: 180px;
	color: black;
}

.popup .field-name {
	color: #aaa;
	padding-right: 8px;
	font-weight: normal;
	min-width: 60px;
}

.popup .num-field {
	font-style: italic;
}

.popup .note {
	font-style: italic;
	text-align: right;
}

.popup .value {
	min-width: 2px;
	outline: none;
	word-wrap: break-word;
}

.popup .editable-cell .value.editing {
	color: black;
	border-bottom: none;
}

.popup .editable-cell .value::selection {
	color: white;
	background: black;
}


/* --- Map ---------------------- */

#map-layers {
	height: 100%;
}

#mshp-main-map {
	background-color: #fff;
}

#map-layers.hover {
	cursor: pointer;
}

#map-layers canvas {
	pointer-events: none;
	position: absolute;
}

#map-layers canvas.retina {
	transform-origin: top left;
	-webkit-transform-origin: top left;
	transform: scale3D(0.5, 0.5, 1);
	-webkit-transform: scale3D(0.5, 0.5, 1);
}

#map-layers canvas.highlight-layer {
	z-index: 5;
}

#map-layers canvas.hover-layer {
	z-index: 4;
}

#nav-buttons {
	display: none;
	z-index: 20;
	position: absolute;
	top: 6px;
	left: 6px;
	padding: 2px;
	background-color: rgba(255, 255, 255, 0.85);
}

.nav-btn {
	cursor:pointer;
	padding: 4px;
	line-height: 1;
}

.nav-btn polygon,
.nav-btn path {
	fill: #18799b;
}

.nav-btn:hover polygon,
.nav-btn:hover path  {
	fill: black;
}

.nav-btn.selected path {
	fill: white;
}

.nav-btn.selected {
	background-color: #18799b;
	border-radius: 4px;
}

.zoom-box {
	position: absolute;
	border: 1px solid #f74b80;
	z-index: 15;
}


/* Simplification control ------------ */

@media (max-width: 765px) {
	body.simplify  #simplify-control-wrapper {
		top: 22px;
	}

	body.simplify .page-header {
		height: 52px;
	}

	body.simplify .main-area {
		margin-top: 52px;
	}
}

#simplify-control-wrapper {
	display: none;
	position: absolute;
	width: 100%;
	overflow: hidden;
	margin: 7px auto 0 auto;
	top: 0px;
}

#simplify-control {
	text-align: center;
	white-space: nowrap;
	padding: 0 90px 0 12px;
}

#simplify-control .slider {
	margin: 9px 5px 0 7px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

#simplify-control .track {   	
  	border-radius: 2px;
	width: 340px;
	background-color: #fff;
	height: 2px;
}

#simplify-control .handle {
	position: absolute;
	top: -3px;
}

#simplify-control .handle img {
	width: 20px;
	height: 20px;
	margin-left: -10px;
	margin-top: -10px;
}

#simplify-control .clicktext {
	width: 56px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	border: 1px solid rgba(0,0,0,0);
	font-size: 13px;
}

#simplify-control .clicktext:focus {
	background: #fff;
}
